@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
.navbar{
    background-color: #182145;
    font-family: 'Montserrat', sans-serif;
}
.no-icon{
    color: #fff;
}