@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
.text-center{
    font-family: "Montserrat",sans-serif;
}
.project-container{
    border: .1rem solid #182145;
    text-align: left;
    margin-top: 2%;
    padding:1% 3%;
}
.project-container p{
    color: rgba(0, 0, 0, 0.5);
}
.ss-btn{
    background-color: #fff;
    margin-top: 2%;
    color: #182145;
}
.ss-btn:hover{
    background-color: #182145;
}